<div class="row" ng-controller="picker as ctrl">
	<form name="filterPicker">
		<div class="col-md-4">
			<fieldset><legend>Select a rover</legend>			
				<select ng-model="rover" ng-options="rov as rov for (rov, cameras) in rovers" ng-change="ctrl.getRoverDetails(rover)" style="width: 80%;">
					<option value="">Pick a rover first...</option>
				</select>
			</fieldset>
	
		</div>
<!--		<div class="col-md-4">
			<fieldset><legend>Select day</legend>
				<label><input type="radio" ng-model="vm.dayType" value="sol">Sol Number</label>
				&nbsp;&nbsp;&nbsp;
				<label><input type="radio" ng-model="vm.dayType" value="earth">Earth Day</label>
				<input type="number" ng-model="sol">
			</fieldset>
		</div> // -->
		<div class="col-md-4">
			<fieldset ng-show="rover"><legend>Select a camera</legend>
				<select ng-model="camera" style="width: 80%;">
					<option value="">Optional...</option>
					<option ng-repeat="cam_abbr in rovers[rover]" title="cameras[cam_abbr]" ng-value="cam_abbr">{{cam_abbr}}</option>
				</select>
			</fieldset>
		</div>
		<div class="col-md-4" style="text-align: center;" ng-show="rover">
			<br>
			<button type="button" class="btn btn-primary" ng-click="ctrl.searchPhotos(rover, camera)">Search</button>
		</div>
	</form>
</div>
